name: Daily Python Task

on:
  schedule:
    - cron: '0 5 * * *'  # runs at 5:00 UTC = 9:00 GMT+4
  workflow_dispatch:

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Python script
        run: python main.py
        env:
            WEATHER_API_KEY: ${{ secrets.WEATHER_API_KEY }}
            TWILIO_ACCOUNT_SID: ${{ secrets.TWILIO_ACCOUNT_SID }}
            TWILIO_AUTH_TOKEN: ${{ secrets.TWILIO_AUTH_TOKEN }}

      - name: Finished
        run: echo "Script completed successfully"
